
#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }

.medieval-style {
    border: 2px solid #8b4513; /* Dark brown border */
    background-color: #f5deb3; /* Wheat background */
    border-radius: 10px;
    box-shadow: 2px 2px 5px #8b4513; /* Dark brown shadow */
  };
  
.medieval-style h3 {
    color: #8b4513; /* Dark brown text color */
  };
  
.medieval-style .btn-primary {
    background-color: #8b4513; /* Dark brown button */
};

/* Login page styling */

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.login-form {
  background-color: rgba(129, 11, 11, 0.8); /* Adjust the background color and opacity as needed */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(129, 11, 11, 0.8);
}

.login-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.login-page label {
  display: block;
  color: #fafafa;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Adjust the button color as needed */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3; /* Adjust the hover color as needed */
}

.error-message {
  color: red;
  margin-top: 10px;
}

/* Signup page styling */

.signup-page {
  background-color: #807073; /* Grey background color */
  padding: 20px; /* Add some padding for better spacing */
  box-shadow: 2px 2px 5px #807073;
}

.signup-page label {
  color: orange; /* Set label color to orange */
}

/* Signout page styling */
.sign-out-page {
  background-image: url('./assets/background2.jpg'); /* Specify the path to your background image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  text-align: center;
  color: rgb(25, 5, 112); /* Adjust text color as needed */
}

/* Encounter page styling */
.encounter-page {
  margin-top: 50px;
  text-align: center;
  background-color: lightgreen; /* Adjust as needed */
}

/* Monster page styling */
.monsters-page {
  margin-top: 50px;
  text-align: center;
  background-color: lightblue; /* Adjust as needed */
}
